<h2 class="mt-4 mb-3">Patient Registrations Over Time</h2>

<%= line_chart @patient_chart_data, height: "300px", library: {
    title: { text: "Patients Registered per Day", fontSize: 18 },
    colors: ["#3366cc"],
    yAxis: { title: { text: "Number of Patients" } },
    xAxis: { title: { text: "Date" } }
} %>