@import "bootstrap";

.form-login, .form-confirmation, .form-password-reset, .form-forgot-password, .form-edit-account, .form-signup {
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Customize input fields */
  .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Add hover effect on the button */
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  #notice-message, #alert-message {
    display: none;
    transition: opacity 1s ease-in-out;
  }